@font-face {
    font-family: "sunflower";
    src: url("sunflower.otf");
}

@font-face {
    font-family: "avigea";
    src: url("Avigea.otf");
}

@font-face {
    font-family: "boiling";
    src: url("boiling.ttf");
}

@font-face {
    font-family: "mercy";
    src: url("mercy.ttf");
}

@keyframes logo-spin {
    0% {
        transform: rotateZ(0deg);
    }
    80% {
        transform: rotateZ(363deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes logo-shrink {
    0% {
        height: 12.4rem;
        transform: rotateZ(0deg);
    }
    100% {
        height: 0rem;
        transform: rotateZ(360deg);
    }
}

:root {
    --page-width: 94rem;
    --page-padding: 5rem;
    --page-padding-mobile: 2vw;
}

* {
    margin: 0;
    padding: 0;

    color: white;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: black;
}

h1 {
    font-size: 3.5rem;
    font-family: "mercy";
    font-weight: normal;
}

h1 span {
    font-family: "mercy";
    font-weight: normal;

    transition: color 100ms linear;
}

h1 span.color {
    color: #fa198b;
}

h2 {
    font-size: 2rem;
}

li {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;

    padding: 1rem 1rem 0 1rem;
}

#header-box, #content-box {
    display: flex;
    width: 100%;
    justify-content: center;
}

header {
    position: relative;

    text-align: center;
    border-bottom: 1px solid white;
}

header, #content {
    width: var(--page-width);
    margin: 0 var(--page-padding) 0 var(--page-padding);
}

#logo {
    position: absolute;
    top:0.9rem;
    left: 9.35rem;

    height: 12.4rem;

}

#logo.spin {
    animation: logo-spin 1s ease-out 0s 1 forwards;
}

h1 {
    display: flex;
    justify-content: center;

    cursor:default;

    user-select: none;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
}

nav a, nav a > li {
    transition: color 100ms linear;
}
nav a:hover, nav a > li:hover {
    color: #fa198b;
}

nav li {
    display: inline-flex;
    justify-content: center;
    list-style-type: none;

    padding: 0 0.5rem 0 0.5rem;

}

h1 {
    padding: 4rem 0 0 0;
}

nav {
    padding: 1rem 0 1.5rem 0
}

h2 {
    padding: 1rem 1rem 0 1rem;
}

#content a {
    display: inline-block;
}

#content img {
    width: 100%;
}

#content a {
    width: 30rem;
    padding: 0.5rem;
}

#content div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0;
}

@media only screen and (max-width: 104rem) {
    header, #content{
        width: 100%;
        margin: 0 var(--page-padding-mobile) 0 var(--page-padding-mobile);
    }

    #content a {
        width: calc(50% - 1rem);
    }

    h2 {
        display: flex;
        justify-content: center;
    }

    #content div {

        justify-content: center;
    }

    h1 {
        padding: 0.5rem 0 0 0;
    }

    #logo {
        width: unset;
        position: unset;
        margin-top: 0.9rem;
    }

    #logo.shrink {
        animation: logo-shrink 1s ease-out 0s 1 forwards;
    }
}

@media only screen and (max-width: 67rem) {
    header, #content {
        width: 100%;
        margin: 0 var(--page-padding-mobile) 0 var(--page-padding-mobile);
    }

    h2 {
        display: flex;
        justify-content: center;
    }

    #content div {
        justify-content: center;
    }

    #content a {
        width: 100%;
    }

    h1 {
        padding: 0.5rem 0 0 0;
        font-size: min(3.5rem, calc(100*3.5vw/30));
    }

    #logo {
        width: unset;
        position: unset;
        margin-top: 0.9rem;
    }

    #logo.shrink {
        animation: logo-shrink 1s ease-out 0s 1 forwards;
    }
}