:root {
    --dark-color: #7776bc;
    --medium-color: #cdc7e5;
    --light-color: #fffbdb;

    --box-shadow-size: 0.25rem;
    --pre-box-shadow: var(--box-shadow-size) var(--box-shadow-size) var(--box-shadow-size) rgba(0, 0, 0, 0.4);
    --selection-bar-option-border-bs: 0 0 0 0.125rem var(--light-color) inset;
    --pre-margin: 1rem 1rem 0 1rem;
    --pre-padding: 1rem;
    --pre-border-radius: 1.5rem;
}

@keyframes fade-in {
    from {
        opacity: 0;
        font-size: 1rem;
        padding: 0.5rem;
    } 
    to {
        opacity: 1;
        font-size: 1.1rem;
        padding: 0.4rem;
    }
}

@font-face {
    font-family: "source-sans";
    src: url(./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: "al-veshion";
    src: url(./fonts/Al_Veshion_PersonalUseOnly.ttf);
}
@font-face {
    font-family: "pacho";
    src: url(./fonts/Pacho\ DEMO.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "source-sans";
}

html, body {
    background-color: var(--medium-color);
}

/* padding */ 
header, section {
    padding: var(--pre-padding);
}

/* margin, box-shadow */ 
header, section, .selection-bar {
    margin: var(--pre-margin);
    box-shadow: var(--pre-box-shadow);
}

/* border-radius */ 
header, section, .selection-bar, .selection-bar tbody tr td {
    border-radius: var(--pre-border-radius);
}

/* light color */ 
section, .selection-bar {
    background-color: var(--light-color);
    color: var(--dark-color);
}

/* dark color */ 
header, .selection-bar tbody tr td:hover, .selection-bar tbody tr td.SELECTED {
    background-color: var(--dark-color);
    color: var(--light-color);
}

header * {
    font-family: "al-veshion";
}

.selection-bar {
    /* reset table defaults */
    border-collapse: collapse;
    border-spacing: 0;
    border: none;

    /* begin */
    width: calc(100vw - 2rem);
    table-layout: fixed;
}

.selection-bar tbody tr td {
    text-align: center;
    padding: 0.5rem;

    font-weight: bold;

    box-shadow: var(--selection-bar-option-border-bs);

    cursor: pointer;
}

.selection-bar tbody tr td:hover {
    animation: fade-in 300ms;
    font-size: 1.1rem;
    padding: 0.4rem;
}